@font-face {
  font-family: "Jost";
  src: url("fonts/jost.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Material Symbols Sharp";
  src: url("fonts/material-symbols-sharp.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  display: inline-block;
  line-height: 1;
}

.main-container {
  margin-left: 0;
  padding-inline: 16px;
}

.main-container > :where(img, picture, figure, .bio-image),
.main-container > article > :where(img, picture, figure) {
  display: block;
  width: calc(100% + 16px * 2);
  margin-inline: calc(16px * -1);
}

.main-container > :where(img),
.main-container > article > :where(img) {
  max-width: none;
}

.main-container figure figcaption {
  padding-inline: 16px;
}

@media (min-width: 811px) {
  .main-container {
    margin-left: clamp(240px, 20vw, 320px);
  }
}
