@use 'variables' as *;

// Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Buttons
@mixin circular-button {
  @include flex-center;
  border-radius: 50%;
  cursor: pointer;
  transition: background $transition-fast, color $transition-fast;
}

@mixin button-hover($bg-color: $color-gray, $text-color: $color-white) {
  &:hover,
  &:active {
    background-color: $bg-color;
    color: $text-color;
  }
}
