/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  4. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  5. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  6. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  7. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
}